.container{
    margin-top: 50px;
}
.navbar-color{
    color: gray;
}
.button{
    border-radius: 5px;
    background-color: black;
    color: antiquewhite;
    padding: 9px 25px;
    cursor: pointer;

}
.mac-area{
    background-image: url(bg-1.png);
    background-repeat: no-repeat;
    margin-left: 0px;
}
.bg-2{
    padding: 100px;
   margin-left: -400px;
}
.mackbook-pro-imeges{
    float: left;
    width: 100%;
}
.mac-text{
padding: 200px;
}
.see-all{
    color: orange;
}
.card-button{
    border-radius: 5px;
    background-color: black;
    color: antiquewhite;
    padding: 9px 25px;
    cursor: pointer;
    margin-left: 120px;
}
.card{
    border: none;
    box-shadow: 5px 5px 20px lightgray;
    
}
